@import 'header';
@import 'contacto';
@import 'acerca-nuestro';


a{
    text-decoration: none; 
}



.body-index{
    main{
        section{
            h2{
                margin-top: 4rem;
                margin-bottom: 1rem;
                font-size: 4rem;
            }
        }
        .descripcion{
            display: flex;
            width: 100%;
            height: auto;
            overflow: auto;
            flex-wrap: nowrap;
            font-size: x-large;
            justify-content: center;
            padding-left: 10%;
            padding-right: 10%;
            
        }
            .textos-descripcion{
                text-align: justify;
                padding-left: 15px;
                padding-right: 15px;
                width: 50vw;    
                padding-top: 40px; 
                p{
                    text-indent: 0;
                }
            }
            .descripcion-derecha{
                text-align: justify;
                padding-left: 15px;
                padding-right: 15px;
                width: 50vw;
            }
            .imagen-descripcion{
                
                width: 100%;
            }
            .pie-de-img{
 
                width: 100%;
            }

        .main__img {
            width: 100vw; 
            height: auto; 
            flex-wrap: wrap;
            object-fit: cover; 
            overflow-x: hidden;
        
          }
        .carousel-imagenes{
            display: flex;
            justify-content: center;
            padding-bottom: 10rem;
            padding-top: 2rem;
            flex-direction: column;
            align-items: center;

            h2{
                padding-bottom: 3rem;
            }

           .imagenes{
                max-width: 80vw;  
                height: 800px;
                object-fit: cover;
                
             }

            .carousel-item {
                width: 80vw;

            }
            .carousel-inner{
                width: 80vw;
            }

            .carousel-caption {
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 10;
                width: 100%;
                left: 0%;
                height: 100px;
              }
            
        }

    }
}

@media screen and (max-width: 768px){
    main{
        section{
            h2{
                margin-top: 4rem;
                margin-bottom: 1rem;
                font-size: 4rem;
            }
        }
        .descripcion{
            display: flex;
            width: 100%;
            height: auto;
            overflow: auto;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            padding-left: 0% !important;
            padding-right: 0% !important;
            flex-direction: column;

        }
            .textos-descripcion{

                width: 100% !important;    
                padding-top: 0px !important; 
                p{
                    width: 100vw !important;
                    text-indent: 0;
                    text-align: justify;
                    padding-left: 15px;
                    padding-right: 15px;
                    
                }
            }
            .descripcion-derecha{

                width: 100vw !important;
            }
            .imagen-descripcion{
                width: 100vw !important;
            }
            .pie-de-img{
                text-align: justify;
                padding-left: 15px;
                padding-right: 15px;
 
                width: 100vw !important;
            }

    }
    .imagen-procesos{
        margin: 0;
        padding: 0;


    }


}


@media screen and (max-width: 480px){
    
}

    


// contenedor de imagmenes de servicios
.contenedor-imagenes{ 

    height: auto;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px;

    p{
        text-align: center;
        padding:10px;
        border: solid;
        border-radius: 10px;
        text-justify: center;
        width: auto;
    
        background-size: 400% 400%;
        animation: cambiar 10s ease infinite;
        margin-bottom: 25px;

    }
    img{
        width: 350px;
        margin: 0;
        padding: 0;
        height: 200px;
        border: solid;
        border-radius: 10px;
        filter: brightness(50%);
        transition: filter 0.3s ease;
        overflow: auto;
        margin-bottom: 15vh;

    }
}

.contenedor-imagenes p:hover{
    border-color: orangered;
    transition: 1s;
    color: orangered;
}
  


.contenedor-imagenes img:hover{
    filter:brightness(100%);
    transition: 1s;
}

// .cartel-flotante{
//     text-align: center;
//     padding:10px;
//     border: solid;
//     border-radius: 10px;
//     width: auto;
//     background-size: 400% 400%;
//     animation: cambiar 10s ease infinite;
//     margin-bottom: 25px;
// }
  
// .cartel-flotante:hover{
//     border-color: orangered;
//     transition: 1s;
//     color: orangered;
// } hay que eliminarlo















